*{
  font-family: 'Lato';
}

.overall-box{
      margin-left: -10px;
}

.row{
  background-color: #FFFFFF;
  width: 1300px;
  height: 50px;
  position: fixed;
  margin-top: -10px;
}

#logo{
  width: 30px;
  height: 30px;
  padding-left: 40px;
  padding-top: 12px;
}
#heading{
  float: right;
  margin-right: 80%;
  color: #D02220;
  padding-right: 75px;
}

.center-box{
  width: 1300px;
  height: 350px;
  background-color: #D02220;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 36px;
}

#content{
  top: 140px;
  left: 390px;
  width: 660px;
  height: 94px;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

.card-box{
  background-color: #ffffff;
  color: #ffffff;
  width: 1000px;
  margin-left: 150px;
  height: 450px;
  margin-top: -100px;
  border-radius: 4px;
}

.card-box p{
  color: #333333;
  padding-left: 80px;
  padding-top: 40px;
  font-size: 20px;
  
}

.enter{
  width: 500px;
  height: 350px;
  background-color: #FFFFFF;
  border-radius: 4px;
  float: left;
}

#card{
  margin-bottom: 300px; 
  margin-top: 30px;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin-left: 70px;
  background-color: #F5F5F5;
  color: #B2B2B2;
}

#dummy input[type=text] {
  border: none;
  background-color: #F5F5F5;
  height: 23px;
  border-bottom: 2px solid #B2B2B2;
  opacity: 0.7;
}

#CN{
  width: 350px;
  margin-top: 30px;
  margin-left: 25px;
}

.dummy{
  width: 350px;
  height: 90px;
  margin-left: 25px;
}

#ED{
  width: 140px;
  margin-top: 30px;
}

#CVV{
  width: 80px;
  margin-left: 40px;
}

#NOC{
  width: 350px;
  margin-left: 25px;
}

#cvvimg{
  float: right;
  margin-top: 30px;
  opacity: 1;
}

.subs{
  width: 400px;
  height: 400px;
  background-color: #FFFFFF;
  float: right;
  margin-right: 80px;
}

.subs p{
  color: #1F1D2C;
  padding-left: 35px;
  padding-top: 40px;
  font-size: 20px;
}

#safe{
  width: 250px;
  height: 40px;
  margin-top: 30px;
  margin-left: 70px; 
}

#back-box{
  width: 1000px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 21px;
  margin-top: 30px;
}

#bbtn{
  color: #333333;
  height: 60px;
  width: 180px;
  border: 1px solid #707070;
  opacity: 1;
  border-radius: 8px;
  letter-spacing: 0.84px;
  margin-top: 20px;
  margin-left: 90px;
}

#sbtn{
  color: #ffffff;
  background-color: #3F74EF;
  border: none;
  height: 60px;
  width: 320px;
  border-radius: 8px;
  letter-spacing: 0.84px;
  float: right;
  margin-top: 20px;
  margin-right: 135px; 
}
